<div id="<%= dom_id job %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Account</p>
    <%= job.account_id %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Name</p>
    <%= job.name %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Sequence</p>
    <%= job.sequence %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Description</p>
    <%= job.description %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Notes</p>
    <%= job.notes %>
  </div>
  <% if action_name != "show" %>
    <%= link_to "View this job", job, class: "btn btn-secondary" %>
  <% end %>
</div>
