<%= content_for :title, "Jobs" %>
<%= turbo_stream_from :jobs %>

<div class="container px-4 mx-auto my-4">
  <div class="flex items-center justify-between mb-4">
    <div>
      <%= render "breadcrumbs" %>
      <h1 class="h3 mt-3">Jobs</h1>
    </div>
    <%= link_to t("scaffold.new.title", model: "Job"), new_job_path, class: "btn btn-secondary" %>
  </div>


  <%= tag.div id: ("jobs" if first_page?), class: "bg-white dark:bg-gray-900 dark:border dark:border-gray-700 rounded-md shadow p-6 space-y-8" do %>

      <ul role="list" class="divide-y divide-gray-100">
        <% @jobs.each_with_index do |job, i| %>
          <li class="flex items-center justify-between gap-x-6 py-5">
            <div class="min-w-0">
              <div class="flex items-start gap-x-3">
                <p class="text-sm font-semibold leading-6 text-gray-900"><%= job.name %></p>
              </div>
              <div class="mt-1 flex items-center gap-x-2 text-xs leading-5 text-gray-500">
                <p class="whitespace-nowrap"><%= job.description %></p>
                <svg viewBox="0 0 2 2" class="h-0.5 w-0.5 fill-current">
                  <circle cx="1" cy="1" r="1" />
                </svg>
                <p class="truncate">some other notes jhere?</p>
              </div>
            </div>
            <div class="flex flex-none items-center gap-x-4">
              <a href="<%= job_path(job) %>" class="hidden rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:block">View details<span class="sr-only"><%= job.name %></span></a>
            </div>
          </li>
        <% end %>
      </ul>
        
  <% end %>

  <% if @pagy.pages > 1 %>
    <div class="my-6 text-center">
      <%== pagy_nav(@pagy) %>
    </div>
  <% end %>

</div>
