<div id="<%= dom_id step %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Account</p>
    <%= step.account_id %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Job</p>
    <%= step.job_id %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Name</p>
    <%= step.name %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Sequence</p>
    <%= step.sequence %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Notes</p>
    <%= step.notes %>
  </div>
  <% if action_name != "show" %>
    <%= link_to "View this step", step, class: "btn btn-secondary" %>
  <% end %>
</div>
