<%= content_for :title, "Steps ##{@step.id}" %>
<%= turbo_stream_from @step %>

<div class="container px-4 mx-auto my-4">
  <div class="flex items-center justify-between mb-4">
    <div>
      <%= render "breadcrumbs" %>
      <h1 class="h3 mt-3"><%= @step.name %></h1>
    </div>
  </div>


  <div class="p-8 bg-white dark:bg-gray-900 dark:border dark:border-gray-700 rounded shadow">

    <div class="flex flex-wrap items-start justify-between">
      <div class="w-full lg:w-1/2">
          <%= render @step, name: @job.name %>
          <%= link_to t("edit"), edit_job_step_path(@job, @step), class: "btn btn-secondary mb-5" %>
      </div>
      <div class="w-full lg:w-1/2">
        tabs here
      </div>
    </div>

  </div>
</div>
